@tailwind base;
@tailwind components;
@tailwind utilities;

.voluntaria-gradient-text {
  background: linear-gradient(to bottom, yellow, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}